<!DOCTYPE html>
    <html>

    <head>
    <title>LDS-006-Lidar-Sensor-Library - Demonstator</title>
    </head>
    <script type="text/javascript">
    var max_distance = 1000;
    var is_started = false;
    var source = null;
    function httpGetAsync(theUrl, callback) {
        let xmlHttpReq = new XMLHttpRequest();
        xmlHttpReq.onreadystatechange = function () {
        if (xmlHttpReq.readyState == 4 && xmlHttpReq.status == 200) callback(xmlHttpReq.responseText);
        };
        xmlHttpReq.open("GET", theUrl, true); // true for asynchronous
        xmlHttpReq.send(null);
    }
    function start() {
        if(window.is_started == true)
            return;
        window.is_started = true;
        httpGetAsync('/start', function (data) {})

        var canvas = document.getElementById("lidarCanvas");
        x = canvas.width / 2;
        y = canvas.height / 2;
        var ctx = canvas.getContext("2d");

        window.source = new EventSource('/lidar');
        window.source.onmessage = function(event) {
            const data = JSON.parse(event.data)
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.moveTo(x, y * (1 + Math.floor( data.values[0] / max_distance)) );
            console.log("Received data: " + data.values)
            last_good = data.values[0]
            for(var i = 0; i <= data.values.length;) {
                ctx.beginPath();
                var distance = data.values[i%360]
                i++
                //i+=3;
                //var distance = (data.values[i%360] + data.values[(i+2)%360] + data.values[(i+1)%360]) / 3
                if(distance > max_distance)
                    max_distance = distance
                max_distance -= 10;
                //if (distance > 100) {
                //    last_good = distance
                //} else {
                //    distance = last_good
                //}
                distance = ( distance / (max_distance) * x);
                var angle = i * Math.PI / 180;
                var x2 = x + distance * Math.sin(angle);
                var y2 = y + distance * Math.cos(angle);
                //    ctx.lineTo(x2, y2);
                ctx.arc(x2, y2, 2, 0, 2*Math.PI, 0);
                ctx.stroke();
            }
        }
    }
    function pause() {
        httpGetAsync('/pause', function (data) {})
    }
    function stop() {
        window.source.close();
        window.is_started = false;
        httpGetAsync('/stop', function (data) {})
    }
    </script>
    <body>
    <h2> Buttons </h2>

    <button onclick="start()">Start</button>
    <button onclick="stop()">Stop</button>
    <button onclick="pause()">Pause</button>
    <br>
    <canvas id="lidarCanvas" width="500" height="500" style="border:1px solid #000000;"></canvas>
    </body>
    </html>